<div class="form-container">
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email">
    <br />
    <label>Contraseña</label>
    <input name="password">
    <button type="submit">Login</button>
  </form>
</div>
<script src="/js/login.js"></script>
